@media screen and (min-width: 483px) {
  .A1 {
    display: block;
    .zoll {
      margin: 0% 1%;
      font-weight: 700;
    }
    .under {
      width: 56%;
      .home {
        margin-right: 6%;
      }
    }
    .saci {
      margin-right: 13%;
      .place {
        border: none;
        border-radius: 45px;
        background: rgb(233 219 200);
      }
      .grre {
        border: rgb(233 219 200);
        color: white;
        border-radius: 21px;
        background: #46b287;
        width: 66%;
      }
      .phon {
        height: 44px;
        width: 78px;
        margin-left: 7%;
        border-radius: 112%;
        margin-right: -66px;
      }
    }
  }
  .B {
    text-align: center;
    margin-top: 5%;
    #photo1 {
      display: block;
      height: 406px;
      width: 987px;
      margin-left: 6%;
    }
    #photo2 {
      display: none;
    }
    h1 {
      margin-top: -20%;
      color: WHITE;
      width: 68%;
    }
    p {
      color: white;
      margin-right: 38%;
      font-size: 105%;
      font-weight: 700;
    }
    .placeholde {
      width: 34%;
      margin-left: 9%;
      .search {
        border-radius: 32px;
        padding: 3% 6%;
      }
    }
    .ankitr {
      display: inline-block;
      margin-left: -27%;
      .ankiti {
        padding: 15% 37%;
        background: #2fc990;
        color: white;
        border-radius: 45px;
        border: 2px #2fc990;
        margin-top: -170%;
        margin-left: 1%;
      }
    }
  }
  .E {
    margin-left: 10%;
    .top {
      margin: 11% 1% 2%;
      border-radius: 34px;
      background: rgb(233 219 200);
      color: black;
    }
  }
  .images {
    width: 184px;
    height: 208px;

    margin-left: 11%;
  }
  .images1 {
    width: 189px;
    height: 208px;
    margin: 0% 0.6%;
  }
  .images2 {
    width: 184px;
    height: 208px;
    margin-right: 10%;
    margin-left: 0%;
  }
  h3 {
    display: inline-block;
    margin-left: 11%;
    margin-right: 1%;
  }
  h4 {
    display: inline-block;
    margin-left: 6%;
    margin-right: 4%;
    font-size: 185%;
  }
  .top1 {
    color: black;
    margin-right: 2%;
    background: rgb(233 219 200);
    border: none;
    border-radius: 34px;
  }
  .E {
    .seconds {
      color: black;

      background: rgb(233 219 200);
      border: none;
      margin: 3% 1%;
      border-radius: 34px;
    }
  }
  .R {
    .common {
      background: none;
      margin-left: -0.4%;
      width: 20%;
      border: none;
      display: inline-block;
      margin-bottom: 3%;
      h5 {
        color: rgb(233 219 200);
      }

      .images3 {
        border-radius: 6%;
        width: 237px;
        height: 143px;
      }
    }
    .common1 {
      background: none;
      margin-left: 11%;
      width: 20%;
      border: none;
      display: inline-block;
      margin-bottom: 3%;
      h5 {
        color: rgb(233 219 200);
      }
      .images3 {
        border-radius: 6%;
        width: 237px;
        height: 143px;
      }
    }
  }
  .Y8 {
    #riya {
      border-bottom: 1px solid rgb(220, 219, 219);

      h5 {
        display: inline-block;
        margin-left: 14%;
        margin-top: 1%;
        margin-right: -1%;
        margin-bottom: -1%;
        &:hover {
          border-bottom: 3px solid rgb(13, 195, 125);
        }
      }
    }
    .ankit1 {
      margin-left: 75%;
      margin-top: 2%;
      border-radius: 38px;
      color: white;
      background: #76d3b7;
      border: none;
    }
    .ankit2 {
      margin-top: 2%;
      margin-left: 1%;
      border-radius: 31px;
      background: rgb(233 219 200);
    }
  }
  .z {
    .clas {
      text-align: center;
      margin-top: 7%;
      p {
        margin: 1% 21%;
      }
      .ankit1 {
        border: none;
        border-radius: 36px;
        background: #76d3b7;
      }
      .ankit2 {
        border-radius: 31px;
        background: rgb(233 219 200);
      }
    }
  }
  .u {
    text-align: center;
    .anita {
      border: 2px dotted tan;
      margin-top: 10%;
      padding: 6%;
      .ankit2 {
        border-radius: 31px;
        background: tan;
      }
    }
  }
  .o {
    h5 {
      display: inline-block;
      margin: 5% 6% 2%;
      color: tan;
    }
    #anuj {
      color: tan;
      display: inline-block;
      font-size: 130%;
      font-weight: 500;
      margin: 0% 15% 0% 22%;
    }
  }
  .Q {
    text-align: center;
    .funy {
      font-size: 119%;
      padding: 5% 1% 3%;
      color: tan;
    }
    p {
      color: tan;
      font-size: 115%;
    }
  }
  //adfnfkldsalfkasmf
  //adfadsf
  .A {
    display: none;
    .reem {
      width: 81%;
    }
    .red {
      margin-right: 6%;
      font-size: 289%;
    }
  }
  .B1 {
    display: none;
    background: white;
    .poo {
      width: 91%;
      margin-bottom: 3%;
      .poo1 {
        background: rgb(234, 207, 171);
        border-radius: 45px;
      }
    }
  }
  #scroll-buttons {
    .button-work {
      .button-written {
        .button-set {
          .button-list {
            width: 80vw;
            overflow-x: scroll;
            list-style-type: none;
            display: flex;
            scrollbar-width: none;
            li {
              .s-btn {
                background: #f5f1e6;
                width: 167px;
                height: 47px;
                &:hover {
                  background-color: #f5f1e6;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
  #scroll-buttons {
    display: none;
  }
  .again {
    display: block !important;
  }
  .D1 {
    display: none;
  }
  .F1 {
    display: none;
    .rot {
      width: 100%;
      .tops1 {
        width: 33%;
        display: inline-block;
        h4 {
          display: inline-block;
          padding-left: 12%;
          width: 104%;
        }
      }
    }
  }
  .E1 {
    display: none;
    .coll {
      margin: 2% 5% 0% 4%;
      font-size: 93%;
      border-radius: 40px;
      border: none;
      background: tan;
      color: black;
    }
  }
  .G1 {
    display: none;
    h1 {
      margin: 5%;
    }
    .name {
      display: inline-block;
      border: 0;
      width: 44%;
      margin-left: 5%;
      h6 {
        color: tan;
      }
      .namein {
        width: 85%;
        height: 187px;
        border-radius: 5%;
      }
    }
  }
  .T1 {
    display: none;
    .sachin {
      width: 19%;
      margin: 9% 0% 17% 75%;
    }
    .sachin1 {
      border-radius: 45px;
      background: #41b48e;
      border: none;
    }
  }
  .X {
    margin-left: 3%;
    display: none;
  }
  .W1 {
    display: none;
    .neel {
      width: 93%;
      margin: 3% 0% 0% 3%;
      .neel1 {
        display: inline-block;
        width: 64%;
        #english {
          color: tan;
        }
      }
      .neel2 {
        display: inline-block;
        width: 34%;
        #neelam {
          height: 85px;
          border-radius: 12%;
          float: right;
        }
      }
    }
  }
  .r1 {
    display: none;
    .r1 {
      width: 93%;
      margin: 3% 0% 0% 3%;
      .aman {
        width: 93%;
        margin: 3% 0% 0% 3%;
        .aman1 {
          display: inline-block;
          width: 64%;
          #aman2 {
            color: tan;
          }
        }
        #aman3 {
          display: inline-block;
          width: 34%;
          .aman4 {
            height: 85px;
            border-radius: 12%;
            float: right;
          }
        }
      }
    }
  }
  .r2 {
    display: none;
    .aman {
      width: 93%;
      margin: 3% 0% 0% 3%;
      .aman1 {
        display: inline-block;
        width: 64%;
        #aman2 {
          color: tan;
        }
      }
      #aman3 {
        display: inline-block;
        width: 34%;
        .aman4 {
          height: 85px;
          border-radius: 12%;
          float: right;
        }
      }
    }
  }
  .r3 {
    display: none;
    .aman {
      width: 93%;
      margin: 3% 0% 0% 3%;
      .aman1 {
        display: inline-block;
        width: 64%;
        #aman2 {
          color: tan;
        }
      }
      #aman3 {
        display: inline-block;
        width: 34%;
        .aman4 {
          height: 85px;
          border-radius: 12%;
          float: right;
        }
      }
    }
  }
  .T5 {
    display: none;
    .tata {
      width: 23%;
      margin-left: 70%;
      .tata1 {
        border-radius: 47px;
        background: tan;
        border: none;
        color: black;
      }
    }
  }
  .t6 {
    display: none;
    h1 {
      width: 48%;
      text-align: center;
      margin-left: 26%;
      margin-top: 14%;
    }
  }
  .t7 {
    display: none;
    .aniti {
      border-radius: 45px;
      background: #f6ede1;
    }
  }
  .d7 {
    display: none;
    .colo {
      margin-top: 16%;
      h6 {
        display: inline-block;
        padding: 0% 14%;
        color: tan;
      }
      h5 {
        display: inline-block;
        padding: 4% 11%;
        color: tan;
        font-size: 98%;
        font-weight: 649;
      }
    }
  }
  .p {
    display: none;
    text-align: center;
    #quick {
      margin-right: 11%;
      .funy {
        font-size: 119%;
        padding: 5% 2% 3%;
        color: tan;
      }
    }
    .user {
      margin-right: 11%;
      p {
        color: tan;
        font-size: 115%;
        padding: 3%;
      }
    }
  }
}
